input {
  width: 150px;
  background-color: #DFDFDF;
  border: 0;
  color: #B6B6B6;
  padding: 10px;

  @media (min-width:375px) {
    width: 180px;
  }

  @media (min-width:425px) {
    width: 200px;
  }

  @media (min-width:1920) {
    width: 280px;
    padding: 15px;
  }
}

.speed {
  margin-top: 30px;

  @media (min-width:768px) {
    margin-top: 70px;
  }

  @media (min-width:1920px) {
    column-gap: 130px;
  }
}

.speed-container-header {
  @media (min-width:1920px) {
    font-size: 55px;
    margin-bottom: 30px;
    width: 800px;
  }
}

.speed-container-text {
  color: $grey;
  margin-bottom: 20px;

  @media (min-width:1920px) {
    margin-bottom: 40px;
    width: 650px;
  }
}

.submit-btn {
  background-color: #fad725 !important;
  border-radius: 4px !important;
  border: 0 !important;
  padding:10px 20px ;
  margin-top: 20px;
  display: flex;
  justify-self: center;

  &:hover {
    background-color: #efc806 !important;
  }

  @media (min-width:1024px) {
    
    position: absolute;
    top: -20px;
    left: 500px;
  }

  @media (min-width:1920px) {
    padding: 15px 40px !important;
    top: -25px;
    
  }
}

.speed-img {
  width: 100%;
  margin-top: 30px;

  @media (min-width:768px) {
    width: 40%;
    margin-top: 0;
  }

  @media (min-width:1920px) {
    width: 45%;
  }

}