
// /* Core variables */
@import './base/variables';

@import '~bootstrap/scss/bootstrap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.custom-header-part {
  color: $purple;
}

// navbar section 
@import './dirty/navbar';

// hero section 
@import './dirty/hero';

// services section
@import './dirty/services';

// optimizing section
@import './dirty/optimizing';

// solution section
@import './dirty/solution';

// grow section
@import './dirty/grow';

// choose section
@import './dirty/choose';

// need section
@import './dirty/need';

// number section
@import './dirty/number';

// speed section
@import './dirty/speed';

// plan section
@import './dirty/plan';

// member section
@import './dirty/member';
